{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="is-size-1">Offers for {{ month.format('Y-m') }}</h1>
            {% for day in calendar %}
                <h2 class="is-size-2">{{ day.count }} offers starting on day {{ day._id }}</h2>
                <ul>
                    {% for retailer in day.retailer %}
                        <li>{{ retailer.retailer['$id'] }}: {{ retailer.count }} offers from </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>

{% endblock %}
